<h1> Artist </h1>

<ul>
   <% @artists.each do |a| %>
      <li> <%= link_to a.name, artist_path(a) %> </li>
       <li><%= "#{a.songs.count} songs" %></li>
   <% end %>
</ul>
   
   
   
   
   
   
    <p> <%= link_to "Create New Artist", new_artist_path %> </p>
      
    <p> <%= link_to "List of Songs", songs_path %> </p>